<%- include('partials/header') %>


 <br><br>
    </header>

    <section>
        <h2>Learn Anytime, Anywhere</h2>
       <br>
        <a class="btn btn-light btn-lg" href="/info" role="button">Register</a>
        <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>
        <a class="btn btn-light btn-lg" href="/adminlogin">admin login</a>
        

    </section>
    <section class="features">
        <div class="feature">
            <img src="https://img.freepik.com/free-vector/young-people-being-interns-company_23-2148721818.jpg?w=1060&t=st=1703232904~exp=1703233504~hmac=595c12f7e5c9df43a30724007b5b93ae2c123c3e21eecec8cd657d1b7adce153" height="200">
        </div>
        <div class="feature">
            <img src="https://img.freepik.com/free-vector/appointment-booking-with-calendar_23-2148553008.jpg?w=740&t=st=1703232813~exp=1703233413~hmac=4ea2bb58c0d6ff57a220ee618843b9fb0a3846e61e302ddf9dc5a5af326961ec" height="200">
        </div>
        <div class="feature">
           <img src="https://img.freepik.com/free-vector/staff-is-presenting-plan-via-video-call_1150-43199.jpg?w=740&t=st=1703232070~exp=1703232670~hmac=97c2a0dcd1e39eead601a8e040679b113ae41022ea548cd2e63d1f99c4260a2a" height="200">
        </div>
    </section>
    <section class="features">
        <div class="feature">
            <h3>Expert Tutors</h3>
            <p>Learn from experienced and knowledgeable tutors in various subjects.</p>
        </div>
        <div class="feature">
            <h3>Flexible Schedule</h3>
            <p>Schedule tutoring sessions at your convenience. Learn at your own pace.</p>
        </div>
        <div class="feature">
            <h3>Interactive Learning</h3>
            <p>Engage in interactive sessions with multimedia content and collaborative tools.</p>
        </div>
    </section>

    <footer>
        <p>&copy; 2023 Online Tutoring Platform</p>
    </footer>

<%- include('partials/footer') %>
